##### Just combining the final dataset

In [23]:
import pandas as pd

a = pd.read_csv("../CT-2022/2022_merged_data.csv")
b = pd.read_csv("../CT-2023/2023_merged_data.csv")
c = pd.read_csv("../CT-2021/2021_merged_data.csv")
d = pd.read_csv("../CT-2024/2024_merged_data.csv")

df = pd.concat([a, b, c, d], ignore_index=True)

In [24]:
test = df.isna().sum()
for col, count in test.items():
    if count != 0:
        print(col, count)

In [25]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 502702 entries, 0 to 502701
Data columns (total 15 columns):
 #   Column                          Non-Null Count   Dtype
---  ------                          --------------   -----
 0   year                            502702 non-null  int64
 1   agency_id                       502702 non-null  float64
 2   incident_date                   502702 non-null  object
 3   incident_hour                   502702 non-null  int64
 4   agency_name                     502702 non-null  object
 5   population                      502702 non-null  int64
 6   male_officer                    502702 non-null  float64
 7   male_civilian                   502702 non-null  float64
 8   male_officer+male_civilian      502702 non-null  float64
 9   female_officer                  502702 non-null  float64
 10  female_civilian                 502702 non-null  float64
 11  female_officer+female_civilian  502702 non-null  float64
 12  offense_name                    502702 non-null  object
 13  offense_category_name           502702 non-null  object
 14  location_area                   502702 non-null  object
dtypes: float64(7), int64(3), object(5)
memory usage: 57.5+ MB

In [26]:
df['total_officers'] = df['male_officer'] + df['female_officer']

df = df.drop(columns=[
    'male_civilian', 'male_officer+male_civilian', 
    'female_civilian', 'female_officer+female_civilian', 
    'agency_id'
])

df = df[(df['population'] != 0) & (~df['population'].isna())]

df = df.rename(columns={
    'agency_name': 'city',
    'incident_date': 'date',
    'incident_hour': 'hour'
})

In [27]:
# Date Features
df['date'] = pd.to_datetime(df['date'], errors='coerce')
df['year'] = df['date'].dt.year
df['month'] = df['date'].dt.month
df['day'] = df['date'].dt.day
df['dayofweek'] = df['date'].dt.dayofweek  # 0 = Monday, 6 = Sunday

In [28]:
order = [
    'year', 'month', 'day', 'hour', 'date', 'dayofweek',
    'city', 'population', 
    'male_officer', 'female_officer', 'total_officers', 
    'offense_name', 'offense_category_name', 'location_area'
]

df = df[order]

In [29]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 497273 entries, 0 to 502701
Data columns (total 14 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   year                   497273 non-null  int32
 1   month                  497273 non-null  int32
 2   day                    497273 non-null  int32
 3   hour                   497273 non-null  int64
 4   date                   497273 non-null  datetime64[ns]
 5   dayofweek              497273 non-null  int32
 6   city                   497273 non-null  object
 7   population             497273 non-null  int64
 8   male_officer           497273 non-null  float64
 9   female_officer         497273 non-null  float64
 10  total_officers         497273 non-null  float64
 11  offense_name           497273 non-null  object
 12  offense_category_name  497273 non-null  object
 13  location_area          497273 non-null  object
dtypes: datetime64[ns](1), float64(3), int32(4), int64(2), object(4)
memory usage: 49.3+ MB

In [30]:
df.to_csv("combined_data.csv", index=False)

In [31]:
print(len(df))

497273

In [32]:
df

,year,month,day,hour,date,dayofweek,city,population,male_officer,female_officer,total_officers,offense_name,offense_category_name,location_area
0,2022,9,22,13,2022-09-22,3,Berlin,20109,37.0,7.0,44.0,Drug/Narcotic Violations,Drug/Narcotic Offenses,Abandoned/Condemned Structure
1,2022,6,4,20,2022-06-04,5,Norwich,40096,69.0,11.0,80.0,Weapon Law Violations,Weapon Law Violations,Abandoned/Condemned Structure
2,2022,7,10,20,2022-07-10,6,Norwich,40096,69.0,11.0,80.0,Drug/Narcotic Violations,Drug/Narcotic Offenses,Abandoned/Condemned Structure
3,2022,7,10,20,2022-07-10,6,Norwich,40096,69.0,11.0,80.0,Drug Equipment Violations,Drug/Narcotic Offenses,Abandoned/Condemned Structure
4,2022,10,14,13,2022-10-14,4,Bridgeport,148395,243.0,44.0,287.0,Drug/Narcotic Violations,Drug/Narcotic Offenses,Abandoned/Condemned Structure
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
502697,2024,7,21,3,2024-07-21,6,New Haven,137243,279.0,52.0,331.0,Aggravated Assault,Assault Offenses,Other/Unknown
502698,2024,12,12,9,2024-12-12,3,Torrington,35612,63.0,7.0,70.0,Intimidation,Assault Offenses,Other/Unknown
502699,2024,11,21,15,2024-11-21,3,New Haven,137243,279.0,52.0,331.0,All Other Larceny,Larceny/Theft Offenses,Other/Unknown
502700,2024,12,5,22,2024-12-05,3,New Haven,137243,279.0,52.0,331.0,Robbery,Robbery,Other/Unknown
502701,2024,3,25,10,2024-03-25,0,Plainville,17504,37.0,3.0,40.0,Criminal Sexual Contact,Sex Offenses,Other/Unknown